.headerWrapper{
   background-color: rgb(176, 182, 180);
   height: 150px;
}

.headerWrapper img {
  height: 150px;
  width: 150px;
  float: left;
  padding: 10px;
}

.headerWrapper p{
  float: left;
  padding: 35px 0 0 35px;
  font-size: 30px;
  border-bottom: 2px solid #6e8395;
  position: relative;
}
